/* reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* commons */
body {
  font-family: 'Fredoka', sans-serif;
  background-color: #fffffe;
  color: #162947;
}

h1 {
  color: #e53170;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  font-size: 28px;
}
/* layout */
.container {
  max-width: 1100px;
  margin: 0 auto;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.col {
  width: calc(100% / 3);
  padding: 25px 20px;
}

.subtitle {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}
/* card */
.card {
  background-color: #0f0e17;
  color: #fff;
  display: flex;
}

.card img {
  width: 25%;
}
.profile-info {
  padding: 10px;
}

.card h3 {
  text-transform: uppercase;
}

.card a {
  color: #33a3d6;
  text-decoration: none;
}
